<div class="box box-success none-margin-bottom">
    <div class="box-body">
        <div style="max-width: 1200px;">
            <button ng-click="vm.showDrawing()" class="btn btn-primary btn-flat btn-from-control-thin">
                <i class="fa fa-fw fa-plus"></i> 查看
            </button>
        </div>
    </div>
</div>