
<div class="row">
    <div class="col-md-5">
        <!--角色列表-->
        <roles-edit-list-component tenant-id="{{vm.tenantId}}"
                                   selected-role="vm.selectedRole" selected-permissions="vm.selectedPermissions"></roles-edit-list-component>
    </div>
    <div class="col-md-7">
        <!--权限列表-->
        <permission-list-component tenant-id="{{vm.tenantId}}" selected-permissions="vm.selectedPermissions"></permission-list-component>
    </div>
</div>
