<div class="small-box bg-{{vm.color}}" style="width:95%; min-width:230px; max-width:300px;">
    <div class="inner">
        <h3>{{vm.count}}</h3>
        <p>{{vm.title}}</p>
    </div>
    <div class="icon" style="font-size:85px;">
        <i class="{{vm.icon}}"></i>
    </div>
    <a href="{{vm.href}}" class="small-box-footer">详细信息 <i class="fa fa-arrow-circle-right"></i></a>
</div>