<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Etupirka.Implement.External.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Etupirka.Implement.External.Properties.Settings>
            <setting name="Etupirka_Implement_External_STMC_VMES_PickChange"
                serializeAs="String">
                <value>http://172.16.23.60/mes/Service/CordysChangePick.asmx</value>
            </setting>
        </Etupirka.Implement.External.Properties.Settings>
    </applicationSettings>
</configuration>